<!-- <nav>
    <a routerLink="/timer">Route 1</a>
    <a routerLink="/list-grid-view">Route 2</a>
    <a routerLink="/timer">Route 3</a>
    <a routerLink="/timer">Route 4</a>
    <a routerLink="/student-table">Route 5</a>
    <a routerLink="/dynamic-div">Route 6</a>
</nav> -->
<ul>
    <li><a routerLink="/floating-banner" routerLinkActive="active">Route 1</a></li>
    <li><a routerLink="/list-grid-view" routerLinkActive="active">Route 2</a></li>
    <li><a routerLink="/timer" routerLinkActive="active">Route 3</a></li>
    <li><a routerLink="/timer-subject" routerLinkActive="active">Route 4</a></li>
    <li><a routerLink="/student-table" routerLinkActive="active">Route 5</a></li>
    <li><a routerLink="/dynamic-div" routerLinkActive="active">Route 6</a></li>
  </ul>
<router-outlet></router-outlet>